<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :News_title %>
    <%= form.text_field :title, class:'form-control', placeholder:'Enter News Title' %>
  </div>

  <div class="field">
    <%= form.label :News_content %>
    <%= form.text_area :content,class:'form-control', placeholder:'Enter News content' %>
  </div>

  <div class="field">
    <%= form.label :Attach_an_image %>
    <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id %>
  </div><br>

  <div class="actions">
    <%= form.submit class:'btn btn-dark btn-sm' %>
  </div>
<% end %>