<p id="notice"><%= notice %></p>
<main>
  <!--Main layout-->
  <div class="container"><h4 class="text-center"> All worlds trending football News 
    <%= link_to 'Create a New Blog', new_blog_path, class:'btn btn-secondary btn-sm ml-5' %>
  </h4>
  <div class="search">
  <%= form_tag(blogs_path, method: :get,style:'') do %>
    <%= text_field_tag :term, params[:term],placeholder:'search by blog tile' %>
    <%= submit_tag 'Search', name: nil %>
   <% end %><br>
   </div>
    <hr class="extra-margins">
    <!--Second row-->
    <div class="row">
      <!--First columnn-->
      <% @blogs.each do |blog| %>
      <div class="col-md-4 pb-3">
        <!--Card-->
        <div class="card h-100">

          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <td><%= image_tag(blog.image_url,class:"img-fluid", alt:"") if blog.image.present? %></td>
            <a href="#">
              <div class="mask"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-block p-3">
            <!--Title-->
            <h4 class="card-title"><%= blog.title %></h4>
            <!--Text-->
            <p class="card-text"><%= blog.content %></p>
            <p class='text-danger'>likes <%= blog.favorites.count %> comments <%= blog.comments.count %></p>
            <%= link_to 'Read more', blog, class:"btn btn-dark btn-sm" %>
            <% if current_user.id == blog.user_id %>
              <%= link_to 'Edit', edit_blog_path(blog), class:"btn btn-dark btn-sm" %>
              <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-dark text-danger btn-sm" %>
            <% end %>  
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <% end %>
      <!--First columnn-->
    </div>
    <!--/.Second row-->
  </div>
  <!--/.Main layout-->
</main>

<br>
